/* CSS */
:root {
  --bg: #472D30;
  --main-color: #E26D5C;
  --secondary-color: #FFE1A8;
  --third-color: #723D46;
  --text: #C9CBA3;
  --shadow: 
    1px 1px 0 #000, 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: var(--bg);
  font-family: Jua;
  color: var(--text);
  text-shadow: var(--shadow);
}

a{
  text-decoration: none;
  color: var(--text)
}

/* Navbar Styles */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--third-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  gap: 1rem;
  padding: 0 1rem; /* <-- Add horizontal space from the edges */
  padding: 1rem;
  z-index: 1000;
  overflow: visible;
}

.nav-text {
  color: var(--secondary-color);
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-size: x-large;
  transition: transform 0.2s ease-in-out;
}

.nav-text:hover {
  transform: scale(1.1);
}

#nav-logo {
  display: flex;
  align-items: center;
  gap: 2rem; /* space between text and image */
  text-decoration: none;
  color: var(--main-color);
  font-size: x-large;
  transition: transform 0.3s ease-in-out;
}

#nav-logo img {
  height: 50px;
  width: auto;
  transform: scale(1.5); /* make it 30% bigger */
  transform-origin: center;
  margin-left: 25%;
}


.logo-text {
  font-size: x-large;
  font-weight: bold;
}



#nav-logo:hover {
  transform: scale(1.1);
}

#settings {
  border: 13px solid transparent;
  position: relative;
  top: 5px;
  margin-right: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
  width: 24px;
  height: 50px;
  z-index: 9999;
  box-sizing: border-box;
}

#settings svg {
  position: absolute;
  top: 20%; /* Center the SVG vertically */
  left: 50%; /* Center the SVG horizontally */
  transform: translate(-50%, -50%); /* Ensure it is centered perfectly */
  width: 30px; /* Adjust the size of the SVG */
  height: 30px; /* Adjust the size of the SVG */
  pointer-events: none; /* Allow hover event to pass through the SVG */
}

#settings svg path {
  fill: #e3e3e3; /* Default color for path */
}

#settings:hover svg path {
  fill: var(--main-color);
}

/* Filters */
.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 1%;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px 20px;
  font-size: x-large;
  font-weight: 500;
  font-family: Jua;
  text-shadow: var(--shadow);
}

.dropdown-content {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--third-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 200px;  /* Width of the dropdown */
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  z-index: 1000;
}

.dropdown-item:hover {
  background-color: #f0f0f0;  /* Highlight on hover */
}


/* Buttons */
.button-class {
  background-color: var(--main-color);
  color: #fff;
  padding: 5px 10px;
  border: 2px solid #fff;
  font-family: Jua;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.button-class:hover {
  background-color: var(--bg);
  border-color: var(--bg);
}

/* Main Page */
.main-page-contents {
  position: absolute;
  top: 5%;  
  left: 50%;  
  transform: translateX(-50%);
  display: flex; 
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.article-container {
  box-sizing: border-box; /* Include padding and border in the element's total width */
  background-color: var(--main-color);
  border: 4px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.article-container:hover{
  transform: scale(1.1);
  cursor:pointer;
}


.article-info {
  display: flex;
  justify-content: space-between; /* Horizontally align text items */
  align-items: flex-end; /* Align items at the bottom of the container */
  width: 100%;
}

.article-info h3 {
  margin: 0 10px 0 0; /* Optional: space between the items */
  margin-bottom: -3%;
}

.article-image {
  width: 100%; /* Adjust based on your needs */
  height: 500px;
  object-fit: cover;
  background-color: black;
  border: 2px solid black;
  border-radius: 5%;
}

.article-title{
  margin-top:-1%;
}

/* loading text*/

.loading-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 40px;
  height: 40px;
  border: 4px solid var(--third-color);
  border-top: 4px solid var(--secondary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* individual article page */
.individual-article {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the content */
  margin-top: 3%;
  width: 100%; /* Ensure it takes the full width */
  text-align: center; /* Optional: Align text to the center */
}

/* fact checks */
.fact-checks {
  display: flex;
  flex-direction: row;
  max-width: 98vh;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;  /* Smooth scrolling */
}

.individual-fact-check {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background-color: var(--main-color);
  border: 3px solid black;
  border-radius: 24px;
  padding: 1rem;
  min-width: 250px;
  max-width: 300px;
  max-height: 200px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-y: auto;
}

/* comments */
.comment-container {
  margin-top: 2rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 24px;
  width: 50%;
  background-color: var(--main-color);
  max-height: 50vh; /* 50% of the viewport height */
  overflow-y: auto;
}


.individual-comment {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  max-height: 150px;
  overflow-y: auto;
}
.comment-user {
  font-size: 1rem;
  font-weight: bold;
  color: var(--third-color);
  margin: 0 0 0.25rem 0;
}

.comment-content {
  font-size: 1.1rem;
  margin: 0;
  color: var(--third-color);
  text-shadow: none;
}

.comment-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-meta,
.comment-user {
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--third-color);
  text-shadow: none;
}

/* Forms */
.form-container {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: var(--third-color);
  border: 4px solid black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 600px;
  overflow-x: auto;
}

input, select {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--secondary-color);
  font-size: 1.1rem;
  color: var(--bg);
  box-sizing: border-box; 
  transition: border-color 0.3s ease;
}

label {
  color: var(--main-color);
}

/* Focused input styles */
input:focus, select:focus {
  border-color: #fff;
  outline: none;
}

input.error, select.error {
  border-color: var(--error-color);
}

/* error page text */
#error{
  position:absolute;
  top: 20%;
  left: 25%;
}